<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="1; url=/" />
    <title>Document</title>
  </head>
  <body>
    <script>
    <script>
        setTimeout(function() {
            window.history.back();
        }, 1000);
    </script>
</script>
    <div class="header">
      <h1>Header</h1>
      <p>My supercool header</p>
    </div>

    <div class="content">
      <h1>Content</h1>
      <p>Some content blablabla, some content blablabla.</p>
      <p>Some content blablabla, some content blablabla.</p>
      <p>Some content blablabla, some content blablabla.</p>
    </div>
  </body>
</html>
